*{
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: rgb(6, 6, 32);
    width: 100vw;
    height: 100vh;
    margin: 0; /* Asegura que no haya margen por defecto */
    display: flex; /* Usa flexbox para centrar verticalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

#text {
    background-color: rgb(0, 0, 0);
    color: rgb(172, 172, 172);
    padding: 10px;
    font-size: 18px;
}

#game {
    max-width: 500px;
    max-height: 400px;
    background-color: rgb(168, 168, 168);
    color: rgb(214, 214, 214);
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;

}

#controls {
    border: 1px black solid;
    padding: 5px;
}

button{
    font-size: 16px;
}


#stats {
    border: 1px black solid;
    color: black;
    padding: 5px;
}

#monsterStats {
    display: none;
    border: 1px black solid;
    color: rgb(211, 211, 211);
    padding: 5px;
    background-color: rgb(133, 32, 32);
}

.stat {
    padding-right: 10px;
}

/* Media Queries para pantallas específicas */
@media (max-width: 320px) and (max-height: 240px) {
    #text,
    #game,
    #controls,
    #stats,
    #monsterStats {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 12px 16px; /* Aumentamos el padding para hacer los botones más grandes */
    }
}

@media (max-width: 640px) and (max-height: 480px) {
    #text,
    #game,
    #controls,
    #stats,
    #monsterStats {
        font-size: 16px;
    }

    button {
        font-size: 16px;
        padding: 14px 18px; /* Aumentamos el padding para hacer los botones más grandes */
    }
}

@media (max-width: 1024px) and (max-height: 720px) {
    #text,
    #game,
    #controls,
    #stats,
    #monsterStats {
        font-size: 18px;
    }

    button {
        font-size: 18px;
        padding: 16px 20px; /* Aumentamos el padding para hacer los botones más grandes */
    }
}